{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-use-before-define": "off"
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": { "import/order": "off" },
      "env": {
        "jest": true
      }
    }
  ]
}
